*{
    font-family: sans-serif;
}
.header{
    background-color: #064e3b;
    color:white;
    border-radius:1rem;
    /* margin-top:0rem; */
}
.header h2{
    margin-left: 1rem;
    text-align: left;
    padding-top:0.8rem;
}
.header ul{
    list-style: none;
    /* text-align: right; */
    text-align:end;
    padding-bottom: 1rem;
}
.header li{
    display: inline;
    margin-right: 1rem;
    /* padding-bottom: 1rem; */
}
.header li a{
    text-decoration: none;
    color: white;
}
/* main{
    text-align: center;
} */
.form 
{
    text-align: center;
    margin-bottom: 1rem;
    font-size: large;
}
#op{
    text-align: center;
    margin-top: 1rem;
}
#submit{
    margin: auto;
    display: block;
}
.footer{
    text-align: center;
    border-radius: 1rem;
}
.footer p{
    padding-top: 0.5rem;
}
.footer li{
    display: inline;
    margin-right: 1rem;
    text-decoration: none;

}
.footer ul{
    list-style: none;
    padding-bottom: 0.5rem;
    
    /* text-align: right; */
    
}
.footer{
    background-color:#064e3b;
    color : white;
    margin-top: 0.5in;
}